<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/91886/IdeaProjects/MySeleniumProjectHRS"><classes><class name="testNG.Dummy"><methods><include name="BLogin"/><include name="ARegistration"/><include name="CProduct"/><include name="DAddToCart"/><include name="checkout"/><include name="enterTheUrl"/><include name="testAddition"/><include name="testEligibility"/></methods></class><class name="testNG.Login"><methods><include name="login1"/><include name="login2"/><include name="login3"/></methods></class><class name="testNG.Login1"><methods><include name="login1"/></methods></class></classes></test></suite>